* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: rgba(207, 161, 123, 0.4);
}
.nav {
    min-height: 50px;
    background-color: rgba(207, 161, 123, 0.4);
}

.nav-list {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 10px;

    list-style-type: none;
}
.nav-item {
    font-size: 18px;
    font-weight: 500;
}
.nav-item a {
    text-decoration: none;
}

.name-wrapper {
    background-color: rgba(72, 62, 202, 0.4);
}

.name-wrapper-wrapper {
    display: flex;
    align-items: center;
    background-color: rgba(72, 62, 202, 0.4);
}

.name-avatar img {
    display: block;
    width: 300px;

}
.name-fullname {
    margin: 0 auto;
    font-size: 22px;
    text-align: center;
}

.title {
    text-align: center;

}

.about-me {
    padding-top: 10px;
    background-color: rgba(9, 128, 158, 0.4);
}
.about-me-wrapper {
    background-color: rgba(9, 128, 158, 0.4);
}
.main-descr {
    padding: 0 10px;
}
.main p{
    margin: 10px 0;
}



.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.img-logo {
    height: 50px;
}

.about-me {

}

